<a href="https://colab.research.google.com/github/jasonjstewart/college-football/blob/master/Boosted_Tree_FG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
import matplotlib
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
import seaborn as sns
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, r2_score


url = "https://jasonstewart.s3.amazonaws.com/BoostedTree-Final-CSV.csv"

dataset = pd.read_csv(url)

dataset.head()

   offense_score  defense_score  ...  fg_result  total_attempts
0              3              7  ...          1             115
1             10              3  ...          1              78
2              3              0  ...          1              74
3              3              0  ...          1              98
4              6              0  ...          1              98

[5 rows x 11 columns]

In [21]:
# Add play type and conference game T/F columns

# drop text columns
# dataset2 = dataset.drop(['offense','offense_conference','defense','defense_conference',
#                          'play_type','drive_result','next_drive_offense_conference','next_drive_start_time','next_drive_end_time',
#                          'next_drive_scoring','next_drive_drive_result','next_drive_elapsed'],axis=1)
# dataset2 = dataset2.drop(['next_drive_yard_line','next_drive_yards_to_goal','next_drive_id','next_drive_game_id','fg_points',
#                           'next_drive_start_period','next_drive_start_yardline','next_drive_end_period','play_text',
#                           'next_drive_end_yardline','next_drive_plays','next_drive_yards', 'home','away','kicker_name',
#                           'next_drive_start_yards_to_goal','next_drive_end_yards_to_goal','next_drive_points_scored','id','next_drive_defense_conference'
#                           ,'between_40-49_percentage','between_30-39_percentage','between_20-29_percentage','less_than_20_percentage'
#                           ,'50_plus_percentage','number_attempts_50_plus','Unnamed: 0','Unnamed: 0.1',
#                           'drive_id','attendance','ppa','down','yards_gained_during_drive','number_of_plays_in_drive'
#                           ,'drive_start_yard_line'],axis=1)
# dataset2.isnull().sum()
#dataset.info()

In [22]:
from sklearn.datasets import make_classification
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
# X, y = make_classification(random_state=0)
X=dataset.drop('fg_result',axis=1)
y=dataset.fg_result
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [23]:
from sklearn.ensemble import GradientBoostingClassifier

Xnew = [[14,13,2,122,20,6,30,2015,.87,25]]

In [24]:
from sklearn.metrics import mean_squared_error

clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)
predicted = (clf.predict(Xnew))
print("X=%s, Predicted=%s" % (Xnew[0], predicted[0]))

X=[14, 13, 2, 122, 20, 6, 30, 2015, 0.87, 25], Predicted=1

In [25]:
y_pred = clf.predict(X_test)

residuals = y_test - y_pred
mse = mean_squared_error(y_test, clf.predict(X_test))
print("The mean squared error (MSE) on test set: {:.4f}".format(mse))

y_test_mean = y_test.mean()

# # Calculate total sum of squares
tss =  sum((y_test - y_test_mean)**2)

# # Calculate residual sum of squares
rss =  sum(residuals**2)

# # Calculate R-squared
rsq  =  1 - (rss/tss)
print('The R-square of the test data is ', round(rsq,3), '\n')

The mean squared error (MSE) on test set: 0.1276
The R-square of the test data is  0.365

In [26]:
from sklearn.metrics import classification_report, confusion_matrix

pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted     0     1   All
True
0          1388   894  2282
1           151  5754  5905
All        1539  6648  8187