<a href="https://colab.research.google.com/github/jasonjstewart/college-football/blob/Jason/EDA_College_Football_4th_Downs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
df=pd.read_csv('https://jasonstewart.s3.amazonaws.com/4th-down-data.csv')
#THIS IS AWESOME WOOHOO
df.drop(['yard_line.1','yards_to_goal.1','play_text','offense.1','offense_conference.1','defense.1','defense_conference.1','id.2','start_date','home_id','home_team','home_points','away_team','away_conference','away_points','home_conference'],axis=1, inplace=True)
df.describe()
df.head(3)

          offense            id  ... excitement_index success_or_failure
0         Georgia  4.006040e+17  ...         3.706368                  0
1      Vanderbilt  4.010120e+17  ...         6.214617                  0
2  South Carolina  4.006040e+17  ...         3.178482                  0

[3 rows x 45 columns]

In [27]:
df

             offense            id  ... excitement_index success_or_failure
0            Georgia  4.006040e+17  ...         3.706368                  0
1         Vanderbilt  4.010120e+17  ...         6.214617                  0
2     South Carolina  4.006040e+17  ...         3.178482                  0
3        Wake Forest  4.005480e+17  ...         5.788620                  0
4       Kansas State  4.005480e+17  ...         6.364702                  0
...              ...           ...  ...              ...                ...
9358         Florida  4.005480e+17  ...         1.374711                  1
9359        Virginia  4.005480e+17  ...         3.689861                  1
9360         Georgia  4.005480e+17  ...         3.007639                  1
9361        Missouri  4.005480e+17  ...         5.696126                  1
9362        Arkansas  4.006040e+17  ...         1.482542                  1

[9363 rows x 45 columns]

In [0]:
#set away or home as 0 or 1 categorical
home=[]
for num in range(len(df)):
  #print(df['offense'].iloc[num],len(df['offense'].iloc[num]),df['home'].iloc[num],len(df['home'].iloc[num]))
  hometeam=df['home'].iloc[num]
  if df['offense'].iloc[num]==hometeam [:len(df['offense'].iloc[num])]:
    home.append(1)
  else:
    home.append(0)
df['home']=home
df.drop('away',axis=1, inplace=True)

In [29]:
df

             offense            id  ... excitement_index success_or_failure
0            Georgia  4.006040e+17  ...         3.706368                  0
1         Vanderbilt  4.010120e+17  ...         6.214617                  0
2     South Carolina  4.006040e+17  ...         3.178482                  0
3        Wake Forest  4.005480e+17  ...         5.788620                  0
4       Kansas State  4.005480e+17  ...         6.364702                  0
...              ...           ...  ...              ...                ...
9358         Florida  4.005480e+17  ...         1.374711                  1
9359        Virginia  4.005480e+17  ...         3.689861                  1
9360         Georgia  4.005480e+17  ...         3.007639                  1
9361        Missouri  4.005480e+17  ...         5.696126                  1
9362        Arkansas  4.006040e+17  ...         1.482542                  1

[9363 rows x 44 columns]

In [35]:
df_drives=pd.read_csv('https://jasonstewart.s3.amazonaws.com/drives.csv')
df_drives

for col in df_drives:
  name='next_drive_'+col
  df_drives.rename(columns={col : name}, inplace=True)
df_drives

for col in df_drives:
  df[col]=""

for num in range(len(df)):
  drive_id=df['id.1'].iloc[num]+1
  #print(drive_id,df['id.1'].iloc[num])
  next_drive=df_drives[df_drives['next_drive_id']==drive_id]
  #print(next_drive['next_drive_id'].iloc[0],df['id.1'].iloc[num])
  if not next_drive.empty:
    for col in next_drive:
      #print(next_drive['next_drive_id'].iloc[0],df['id.1'].iloc[num])
      df[col].iloc[num]=next_drive[col].iloc[0]
print(df.columns)
print(df_drives.columns)

#df_drives.drop(['offense','offense_conference','defense','defense_conference' ] ,axis=1)
df['drive_id']=df['id.1']
df.drop(['id.1'],axis=1,inplace=True)
df['drive_id']

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

Index(['offense', 'id', 'offense_conference', 'defense', 'defense_conference',
       'home', 'offense_score', 'defense_score', 'drive_id', 'period', 'clock',
       'yard_line', 'yards_to_goal', 'down', 'distance', 'yards_gained',
       'play_type', 'ppa', 'id.1', 'game_id', 'scoring', 'start_period',
       'start_yardline', 'start_yards_to_goal', 'start_time', 'end_period',
       'end_yardline', 'end_yards_to_goal', 'end_time', 'elapsed', 'plays',
       'yards', 'drive_result', 'season', 'week', 'season_type',
       'neutral_site', 'conference_game', 'attendance', 'home_post_win_prob',
       'away_id', 'away_post_win_prob', 'excitement_index',
       'success_or_failure', 'next_drive_id', 'next_drive_game_id',
       'next_drive_offense', 'next_drive_offense_conference',
       'next_drive_defense', 'next_drive_defense_conference',
       'next_drive_scoring', 'next_drive_start_period',
       'next_drive_start_yardline', 'next_drive_start_yards_to_goal',
       'next_drive_start_time', 'next_drive_yard_line',
       'next_drive_yards_to_goal', 'next_drive_end_period',
       'next_drive_end_yardline', 'next_drive_end_yards_to_goal',
       'next_drive_end_time', 'next_drive_elapsed', 'next_drive_plays',
       'next_drive_yards', 'next_drive_drive_result'],
      dtype='object')
Index(['next_drive_id', 'next_drive_game_id', 'next_drive_offense',
       'next_drive_offense_conference', 'next_drive_defense',
       'next_drive_defense_conference', 'next_drive_scoring',
       'next_drive_start_period', 'next_drive_start_yardline',
       'next_drive_start_yards_to_goal', 'next_drive_start_time',
       'next_drive_yard_line', 'next_drive_yards_to_goal',
       'next_drive_end_period', 'next_drive_end_yardline',
       'next_drive_end_yards_to_goal', 'next_drive_end_time',
       'next_drive_elapsed', 'next_drive_plays', 'next_drive_yards',
       'next_drive_drive_result'],
      dtype='object')

             offense            id  ... next_drive_yards next_drive_drive_result
0            Georgia  4.006040e+17  ...               48                     INT
1         Vanderbilt  4.010120e+17  ...               30               MISSED FG
2     South Carolina  4.006040e+17  ...                7                    PUNT
3        Wake Forest  4.005480e+17  ...               68                      TD
4       Kansas State  4.005480e+17  ...               16                    PUNT
...              ...           ...  ...              ...                     ...
9358         Florida  4.005480e+17  ...                6                  FUMBLE
9359        Virginia  4.005480e+17  ...               17                    PUNT
9360         Georgia  4.005480e+17  ...               17                    PUNT
9361        Missouri  4.005480e+17  ...                8                  FUMBLE
9362        Arkansas  4.006040e+17  ...                5                    PUNT

[9363 rows x 64 columns]

In [37]:
print(df['drive_id'],df['next_drive_id'])

0       4006039314
1       4010122992
2       4006039033
3       4005478328
4       4005478564
           ...
9358    4005481012
9359    4005477937
9360    4005483377
9361    4005483253
9362    4006038287
Name: drive_id, Length: 9363, dtype: int64 0       4006039315
1       4010122993
2       4006039034
3       4005478329
4       4005478565
           ...
9358    4005481013
9359    4005477938
9360    4005483378
9361    4005483254
9362    4006038288
Name: next_drive_id, Length: 9363, dtype: object

In [0]:
df.to_csv('college-football-data-p5-4th-down.csv')