<a href="https://colab.research.google.com/github/jasonjstewart/college-football/blob/master/EDA_College_Football_4th_Downs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
df=pd.read_csv('https://jasonstewart.s3.amazonaws.com/4th-down-data.csv')
#THIS IS AWESOME WOOHOO
df.drop(['yard_line.1','yards_to_goal.1','play_text','offense.1','offense_conference.1','defense.1','defense_conference.1','id.2','start_date','home_id','home_team','home_points','away_team','away_conference','away_points','home_conference'],axis=1, inplace=True)
df.describe()

                 id  offense_score  ...  excitement_index  success_or_failure
count  9.363000e+03    9363.000000  ...       9363.000000         9363.000000
mean   1.748109e+17      16.135747  ...          2.561558            0.386521
std    1.988009e+17      13.754774  ...          2.485868            0.486978
min    2.624300e+11       0.000000  ...          0.000000            0.000000
25%    2.928300e+11       7.000000  ...          0.000000            0.000000
50%    3.232900e+11      14.000000  ...          2.321189            0.000000
75%    4.008690e+17      24.000000  ...          4.541697            1.000000
max    4.011330e+17      80.000000  ...         10.807980            1.000000

[8 rows x 30 columns]

In [0]:
df=df[df['drive_result']!='KICKOFF']
df.drive_result.unique()

points_scored=[]
for row in range(len(df)):
  if df['drive_result'].iloc[row] in ['END OF 4TH QUARTER,''POSSESSION (FOR OT DRIVES)','DOWNS','DOWNS TD','FG TD','MISSED FG TD','INT','FUMBLE','TURNOVER ON DOWNS','INT TD','FUMBLE TD','FUMBLE RETURN TD','SF','FG MISSED','END OF HALF','END OF GAME','PUNT','Uncategorized','SF','PUNT RETURN TD','FUMBLE RETURN TD','FG MISSED TD','TURNOVER ON DOWNS TD','INT RETURN TOUCH','PUNT TD','MISSED FG',]:
    points_scored.append(0)
  elif df['drive_result'].iloc[row] in ['TD','PASSING TD','RUSHING TD','END OF HALF TD','END OF GAME TD','POSSESSION (FOR OT DRIVES) TD']:
    points_scored.append(6)
  elif df['drive_result'].iloc[row] in ['FG GOOD','FG GOOD TD','FG']:
    points_scored.append(3)
  else:
    points_scored.append(0)

df['points_scored']=points_scored

In [0]:
#set away or home as 0 or 1 categorical
home=[]
for num in range(len(df)):
  #print(df['offense'].iloc[num],len(df['offense'].iloc[num]),df['home'].iloc[num],len(df['home'].iloc[num]))
  hometeam=df['home'].iloc[num]
  if df['offense'].iloc[num]==hometeam [:len(df['offense'].iloc[num])]:
    home.append(1)
  else:
    home.append(0)
df['home']=home
df.drop('away',axis=1, inplace=True)

In [0]:
# Creates Next Drive columns whih while not used in this specific project could be used in the future

# df_drives=pd.read_csv('https://jasonstewart.s3.amazonaws.com/drives.csv')
# df_drives

# for col in df_drives:
#   name='next_drive_'+col
#   df_drives.rename(columns={col : name}, inplace=True)
# df_drives

# for col in df_drives:
#   df[col]=""

# for num in range(len(df)):
#   drive_id=df['id.1'].iloc[num]+1
#   #print(drive_id,df['id.1'].iloc[num])
#   next_drive=df_drives[df_drives['next_drive_id']==drive_id]
#   #print(next_drive['next_drive_id'].iloc[0],df['id.1'].iloc[num])
#   if not next_drive.empty:
#     for col in next_drive:
#       #print(next_drive['next_drive_id'].iloc[0],df['id.1'].iloc[num])
#       df[col].iloc[num]=next_drive[col].iloc[0]
# print(df.columns)
# print(df_drives.columns)

# #df_drives.drop(['offense','offense_conference','defense','defense_conference' ] ,axis=1)
# df['drive_id']=df['id.1']
# df.drop(['id.1'],axis=1,inplace=True)
# df['drive_id']

In [0]:
#FIX SKEWNESS

def fix_skew(df, feature):
  import numpy as np
  # check for positive skewness
  if df[feature].skew() > 1:
    # generate the new columns to test
    df[feature + '_SR'] = np.sqrt(df[feature])
    df[feature + '_CR'] = np.cbrt(df[feature])
    df[feature + '_LN'] = np.log(df[feature] + 1)
    # df[feature + '_BIN'] = bin_numeric(df[feature])[2]
    print(df.skew())
    
    # get dummies
    for col in df:
      if not pd.api.types.is_numeric_dtype(df[col]):
        df = df.join(pd.get_dummies(df[col], prefix=col, drop_first=True))

    # get numeric columns
    df = df.select_dtypes(np.number)
    df_minmax = pd.DataFrame(preprocessing.MinMaxScaler().fit_transform(df), columns=df.columns)

    # test original feature
    y = df_minmax[feature]
    X = df_minmax.drop(columns=[feature, feature + '_LN', feature + '_SR', feature + '_CR']).assign(const=1)

    results = sm.OLS(y, X).fit()
    print(results.summary())

    # test square root feature
    y = df_minmax[feature + '_SR']
    X = df_minmax.drop(columns=[feature, feature + '_LN', feature + '_SR', feature + '_CR']).assign(const=1)

    results = sm.OLS(y, X).fit()
    print(results.summary())

    # test cube root feature
    y = df_minmax[feature + '_CR']
    X = df_minmax.drop(columns=[feature, feature + '_LN', feature + '_SR', feature + '_CR']).assign(const=1)

    results = sm.OLS(y, X).fit()
    print(results.summary())

    # test log feature
    y = df_minmax[feature + '_LN']
    X = df_minmax.drop(columns=[feature, feature + '_LN', feature + '_SR', feature + '_CR']).assign(const=1)

    results = sm.OLS(y, X).fit()
    print(results.summary())

    # test binning feature
    # y = df_minmax[feature + '_BIN']
    # X = df_minmax.drop(columns=[feature, feature + '_LN', feature + '_SR', feature + '_CR', feature + '_BIN']).assign(const=1)

    # results = sm.OLS(y, X).fit()
    # print(results.summary())


  elif df[feature].skew() < -1:
    # here we would fix negatively skewed variables if there were any in this dataset

    return
  else:
    # return if skewness is between -1 and 1; negligible
    return

In [19]:
#CORRECT OUTLIERS, this first part checks to see if there are outliers
outliers = pd.DataFrame(columns=['min', 'count below', 'max', 'count above'])

# save the max to compare later
# peak_max = df[''].mean() + (df[''].std() * 3)

# Loop through each column in the dataframe except those that are: 1) categorical, 2) empty, or 3) binary (0/1)
for col in df:
  if pd.api.types.is_numeric_dtype(df[col]) and (len(df[col].value_counts()) > 0) and not all(df[col].value_counts().index.isin([0, 1])):
    # Calculate the theoretical min/max
    min = df[col].mean() - (df[col].std() * 3)
    max = df[col].mean() + (df[col].std() * 3)
    outliers.loc[col] = (min, df[col][df[col] < min].count(), max, df[col][df[col] > max].count())

outliers

                              min  count below           max  count above
id                  -4.215918e+17          0.0  7.712136e+17          0.0
offense_score       -2.512858e+01          0.0  5.740007e+01        100.0
defense_score       -2.585358e+01          0.0  6.275607e+01         37.0
drive_id            -1.070769e+09          0.0  6.168251e+10          0.0
period              -4.391259e-01          0.0  6.355392e+00          3.0
clock               -4.184487e+02          0.0  1.216997e+03          0.0
yard_line           -2.522760e+01          0.0  1.300235e+02          0.0
yards_to_goal       -2.778418e+01          0.0  9.632888e+01         12.0
down                 4.000000e+00          0.0  4.000000e+00          0.0
distance            -9.732191e+00          1.0  1.928575e+01        155.0
yards_gained        -2.437768e+01         35.0  3.236166e+01        193.0
ppa                 -6.773440e+00          3.0  6.310617e+00         10.0
id.1                -1.070769e+09          0.0  6.168251e+10          0.0
game_id              1.795569e+08          0.0  5.048607e+08          0.0
start_period        -5.940285e-01          0.0  6.315912e+00          2.0
start_yardline      -2.471482e+01          0.0  1.218726e+02          0.0
start_yards_to_goal  1.439428e+01         97.0  1.197102e+02          0.0
end_period          -4.019443e-01          0.0  6.359437e+00          2.0
end_yardline        -5.368110e+01          0.0  1.623969e+02          0.0
end_yards_to_goal   -4.827786e+01          0.0  9.312609e+01         78.0
plays               -1.789072e+00          0.0  1.956222e+01         28.0
yards               -3.409577e+01          3.0  1.249370e+02          0.0
season               2.000277e+03          0.0  2.024757e+03          0.0
week                -4.349949e+00          0.0  1.931887e+01          0.0
attendance          -6.445133e+04          0.0  1.400104e+05          0.0
home_post_win_prob  -8.321149e-01          0.0  1.740876e+00          0.0
away_id             -2.267557e+03          0.0  3.699590e+03          0.0
away_post_win_prob  -8.054653e-01          0.0  1.307790e+00          0.0
excitement_index    -4.896047e+00          0.0  1.001916e+01          7.0
points_scored       -6.262331e+00          0.0  1.062824e+01          0.0

In [0]:
#Goes through each column in DF to replace outliers with min or max
def manage_outliers(df):
  for col in df:
    if pd.api.types.is_numeric_dtype(df[col]) and (len(df[col].value_counts()) > 0) and not all(df[col].value_counts().index.isin([0, 1])):
      min = df[col].mean() - (df[col].std() * 3)
      max = df[col].mean() + (df[col].std() * 3)

      # Once the min/max is calculated for a column, take an inner loop through the row values of each column to replace values
      for i, value in enumerate(df[col]): 
        if value < min:      
          df.at[i, col + '_3std'] = min  # replace with min
          df.at[i, 'outlier'] = 1         # identify the record as an outlier for future filtering
        elif value > max:    
          df.at[i, col + '_3std'] = max   # replace with max
          df.at[i, 'outlier'] = 1
        else:                
          df.at[i, col + '_3std'] = value # use original value
          df.at[i, 'outlier'] = 0
    
  # I don't like binary variables like "outlier" becoming floats; cast it back to an int
  # if 'outlier' in df.columns:
  #   df = df.astype({"outlier": int})

  # View the cleaned dataset:
  print(df.head())

In [0]:
#There shouldnt be any missing data, like I am 99% sure there isnt missing data but could be good to double check

#THIS BELOW COMES STRAIGHT FROM THE BOOK BUT IT SHOULD WORK
def manage_missing_data(df):
      import pandas as pd
      from scipy import stats

      for col_y in df:                                        # for each column in df to fill
        if df[col_y].isnull().sum() > 0:                      # if there is missing data to fill
          if is_numeric(df[col_y]):                           # and if that column is numeric
            r_list = df.corr()[col_y].abs()                   # create a correlation matrix for just the col_y feature; get absolute values to eliminate sign (+/-)
            r_list.sort_values(inplace=True, ascending=False) # sort the list descending (we want the second item in the list because the first is itself where r = 1.0)

            col_x = r_list.index[1] # Store the index name of the highest correlation

            # Create a new df with missing values of y and x dropped
            clean_df = df.copy()
            clean_df.dropna(subset=[col_y, col_x], inplace=True)

            # Calculate the regression line: y = m(x) + b
            m, b, r, p, err = stats.linregress(clean_df[col_x], clean_df[col_y])

            # enumerate() allows us to include a count-based index (i) along with the value
            for i, value in enumerate(df[col_y].values):
              if not pd.notnull(value):
                imputed_value = round((m * df[col_x][i]) + b, 1)

                # if the prediction is outside the range of actual values, then replace it with the min/max
                if imputed_value < df[col_y].min():
                  df[col_y][i] = df[col_y].min()
                elif imputed_value > df[col_y].max():
                  df[col_y][i] = df[col_y].max()
                else:
                  df[col_y][i] = imputed_value
      return df

In [0]:
def data_cleaning(df):
  manage_missing_data(df)
  manage_outliers(df)
  for col in df:
    fix_skew(df, col)

In [0]:
df.to_csv('college-football-data-p5-4th-down.csv')

In [24]:
df

             offense            id  ... success_or_failure points_scored
0            Georgia  4.006040e+17  ...                  0             0
1         Vanderbilt  4.010120e+17  ...                  0             0
2     South Carolina  4.006040e+17  ...                  0             0
3        Wake Forest  4.005480e+17  ...                  0             0
4       Kansas State  4.005480e+17  ...                  0             0
...              ...           ...  ...                ...           ...
9358         Florida  4.005480e+17  ...                  1             3
9359        Virginia  4.005480e+17  ...                  1             3
9360         Georgia  4.005480e+17  ...                  1             6
9361        Missouri  4.005480e+17  ...                  1             3
9362        Arkansas  4.006040e+17  ...                  1             6

[9363 rows x 45 columns]