<a href="https://colab.research.google.com/github/jasonjstewart/college-football/blob/master/EDA_College_Football.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df=pd.read_csv('https://jasonstewart.s3.amazonaws.com/college-football-data.csv')
df.describe()
#THIS IS AWESOME WOOHOO

                 id  offense_score  ...        season  fg_percentage
count  4.489700e+04   44897.000000  ...  44897.000000   44897.000000
mean   1.798343e+17      15.012896  ...   2012.684990       0.674066
std    1.993776e+17      12.379073  ...      4.010649       0.254030
min    2.624300e+11      -1.000000  ...   2006.000000       0.000000
25%    2.930400e+11       3.000000  ...   2009.000000       0.600000
50%    3.326400e+11      13.000000  ...   2013.000000       0.727270
75%    4.008700e+17      23.000000  ...   2016.000000       0.833330
max    4.011840e+17      80.000000  ...   2019.000000       1.000000

[8 rows x 14 columns]