<a href="https://colab.research.google.com/github/jasonjstewart/college-football/blob/master/Naive_Bayes_FG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
import matplotlib
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
import seaborn as sns
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, r2_score


url = "https://jasonstewart.s3.amazonaws.com/college-football-data-fg-p5_final.csv"

dataset = pd.read_csv(url)

dataset.head()

   Unnamed: 0  Unnamed: 0.1  ...    drive_id next_drive_points_scored
0           0             0  ...  4005476426                       -3
1           1             1  ...  4005476427                        0
2           2             6  ...  4005476482                        0
3           3            10  ...  4005476502                        0
4           4            11  ...  4005476504                       -7

[5 rows x 58 columns]

In [ ]:
dataset.isnull().sum()

Unnamed: 0                            0
Unnamed: 0.1                          0
id                                    0
offense                               0
offense_conference                    0
defense                               0
defense_conference                    0
home                                  0
away                                  0
offense_score                         0
defense_score                         0
period                                0
clock                                 0
yards_to_goal                         0
down                                  0
distance                              0
kicker_name                           0
play_type                             0
play_text                             0
fg_length                             0
ppa                                   0
drive_start_yard_line                 0
number_of_plays_in_drive              0
yards_gained_during_drive             0
drive_result                          0
season                                0
fg_percentage                         0
attendance                            0
fg_result                             0
fg_points                             0
less_than_20_percentage               0
between_20-29_percentage              0
between_30-39_percentage              0
between_40-49_percentage              0
50_plus_percentage                    0
number_attempts_50_plus               0
total_attempts                        0
next_drive_id                         0
next_drive_game_id                    0
next_drive_offense_conference         0
next_drive_defense_conference         0
next_drive_scoring                    0
next_drive_start_period               0
next_drive_start_yardline             0
next_drive_start_yards_to_goal        0
next_drive_start_time                 0
next_drive_yard_line              27288
next_drive_yards_to_goal          27288
next_drive_end_period                 0
next_drive_end_yardline               0
next_drive_end_yards_to_goal          0
next_drive_end_time                   0
next_drive_elapsed                    0
next_drive_plays                      0
next_drive_yards                      0
next_drive_drive_result               0
drive_id                              0
next_drive_points_scored              0
dtype: int64

In [ ]:
# Add play type and conference game T/F columns

# drop text columns
dataset2 = dataset.drop(['offense','offense_conference','defense','defense_conference',
                         'play_type','drive_result','next_drive_offense_conference','next_drive_start_time','next_drive_end_time',
                         'next_drive_scoring','next_drive_drive_result','next_drive_elapsed'],axis=1)
# drop next drive data (we aren't really using it and it has nulls)
dataset2 = dataset2.drop(['next_drive_yard_line','next_drive_yards_to_goal','next_drive_id','next_drive_game_id','fg_points',
                          'next_drive_start_period','next_drive_start_yardline','next_drive_end_period','play_text',
                          'next_drive_end_yardline','next_drive_plays','next_drive_yards', 'home','away','kicker_name',
                          'next_drive_start_yards_to_goal','next_drive_end_yards_to_goal','next_drive_points_scored','id','next_drive_defense_conference'
                          ,'between_40-49_percentage','between_30-39_percentage','between_20-29_percentage','less_than_20_percentage'
                          ,'50_plus_percentage','number_attempts_50_plus'],axis=1)
# Extra dropped columns
dataset2 = dataset2.drop(['Unnamed: 0','Unnamed: 0.1',
                          'drive_id'],axis=1)

dataset2 = dataset2.drop(['attendance','ppa','down','yards_gained_during_drive','number_of_plays_in_drive'
                          ,'drive_start_yard_line'],axis=1)

dataset2.isnull().sum()

offense_score     0
defense_score     0
period            0
clock             0
yards_to_goal     0
distance          0
fg_length         0
season            0
fg_percentage     0
fg_result         0
total_attempts    0
dtype: int64

In [ ]:
X=dataset2.drop('fg_result',axis=1)
y=dataset2.fg_result
from sklearn.datasets import make_classification
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
# X, y = make_classification(random_state=0)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27288 entries, 0 to 27287
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   offense_score   27288 non-null  int64
 1   defense_score   27288 non-null  int64
 2   period          27288 non-null  int64
 3   clock           27288 non-null  int64
 4   yards_to_goal   27288 non-null  int64
 5   distance        27288 non-null  int64
 6   fg_length       27288 non-null  int64
 7   season          27288 non-null  int64
 8   fg_percentage   27288 non-null  float64
 9   total_attempts  27288 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 2.1 MB

Below I added just dummy data in under the variable name of Xnew. Then we can just run this dummy row through the model and it will spit out a predicted result. So if you're already able to take inputs from the site then you should be able to plug them right into the array for Xnew and then return the

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

Xnew = [[14,13,2,34,20,6,30,2015,.87,33]]

NBmodel = GaussianNB()
NBmodel= NBmodel.fit(X_train,y_train)

# prediction = NBmodel.predict(X_test)
# prediction

# print(NBmodel.intercept_, NBmodel.coef_,)

array([0, 1, 1, ..., 1, 1, 1])

In [ ]:

from sklearn.metrics import mean_squared_error

clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)
clf.predict(Xnew)

prediction = clf.predict(X_test)

residuals = y_test - prediction
mse = mean_squared_error(y_test, clf.predict(X_test))
print("The mean squared error (MSE) on test set: {:.4f}".format(mse))

y_test_mean = y_test.mean()

# # Calculate total sum of squares
tss =  sum((y_test - y_test_mean)**2)

# # Calculate residual sum of squares
rss =  sum(residuals**2)

# # Calculate R-squared
rsq  =  1 - (rss/tss)
print('The R-square of the test data is ', round(rsq,3), '\n')

The mean squared error (MSE) on test set: 0.1276
The R-square of the test data is  0.365

In [ ]:
y_pred=NBmodel.predict(X_test)
df1=pd.DataFrame({"Actual Status":y_test,"Predicted Status":y_pred})
df1
# print("X=%s, Predicted=%s" % (Xnew[0], y_pred[0]))
# print(y_pred)

    Actual Status  Predicted Status
0               0                 0
1               0                 0
2               1                 1
3               0                 0
4               1                 0
5               1                 0
6               0                 0
7               0                 0
8               0                 0
9               1                 0
10              0                 0
11              0                 0
12              0                 0
13              0                 0
14              1                 0
15              0                 0
16              0                 0
17              0                 0
18              0                 0
19              0                 0
20              1                 1
21              0                 0
22              1                 1
23              0                 0
24              1                 0
25              1                 1
26              0                 0
27              1                 1
28              1                 1
29              1                 1

In [ ]:
print(classification_report(y_test, y_pred, labels=None, target_names=["Strong","Weak"], sample_weight=None, digits=2))

              precision    recall  f1-score   support

      Strong       0.48      0.53      0.51      2282
        Weak       0.81      0.78      0.80      5905

    accuracy                           0.71      8187
   macro avg       0.65      0.66      0.65      8187
weighted avg       0.72      0.71      0.71      8187

In [ ]:
print(confusion_matrix(y_test,y_pred))

from sklearn.metrics import classification_report, confusion_matrix

pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

[[1214 1068]
 [1304 4601]]

Predicted     0     1   All
True
0          1214  1068  2282
1          1304  4601  5905
All        2518  5669  8187

In [ ]:
# print(accuracy_score(y_test,y_pred)*100)
metrics.accuracy_score(y_test,y_pred)

0.7102723830462929

In [ ]:
print("R^2 =", r2_score(y_test,y_pred))

R^2 = -0.44113256862045236

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,y_pred)

0.65154858440054

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred)

0.28313179430804936